.card {
    border-radius: 15px;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
}

.form-control:read-only {
    background-color: #ffffff;
}

.table {
    background-color: #ffffff;
}
