html {
  font-size: 14px;
}
:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Poppins", sans-serif;
    --nav-font: "Raleway", sans-serif;
    --background-color: #ffffff;
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #2c4964; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #1977cc; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff;
    --nav-color: #2c4964; /* The default color of the main navmenu links */
    --nav-hover-color: #1977cc; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #2c4964; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #1977cc;
}
.light-background {
    --background-color: #f1f7fc;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}
a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

    a:hover {
        color: color-mix(in srgb, var(--accent-color), transparent 25%);
        text-decoration: none;
    }
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

/*HEADER*/

.header {
    color: var(--default-color);
    transition: all 0.5s;
    z-index: 997;
    background-color: var(--background-color);
}

    .header .topbar {
        background-color: var(--accent-color);
        height: 40px;
        padding: 0;
        font-size: 14px;
        transition: all 0.5s;
    }

        .header .topbar .contact-info i {
            font-style: normal;
            color: var(--contrast-color);
        }

            .header .topbar .contact-info i a,
            .header .topbar .contact-info i span {
                padding-left: 5px;
                color: var(--contrast-color);
            }

@media (max-width: 575px) {

    .header .topbar .contact-info i a,
    .header .topbar .contact-info i span {
        font-size: 13px;
    }
}

.header .topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

    .header .topbar .contact-info i a:hover {
        color: var(--contrast-color);
        text-decoration: underline;
    }

.header .topbar .social-links a {
    color: color-mix(in srgb, var(--contrast-color), transparent 40%);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

    .header .topbar .social-links a:hover {
        color: var(--contrast-color);
    }

.header .branding {
    min-height: 60px;
    padding: 10px 0;
}

.header .logo {
    line-height: 1;
}

    .header .logo img {
        max-height: 36px;
        margin-right: 8px;
    }

    .header .logo h1 {
        font-size: 30px;
        margin: 0;
        font-weight: 700;
        color: var(--heading-color);
    }

.header .cta-btn,
.header .cta-btn:focus {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 14px;
    padding: 8px 25px;
    margin: 0 0 0 30px;
    border-radius: 50px;
    transition: 0.3s;
}

    .header .cta-btn:hover,
    .header .cta-btn:focus:hover {
        color: var(--contrast-color);
        background: color-mix(in srgb, var(--accent-color), transparent 15%);
    }

@media (max-width: 1200px) {
    .header .logo {
        order: 1;
    }

    .header .cta-btn {
        order: 2;
        margin: 0 15px 0 0;
        padding: 6px 15px;
    }

    .header .navmenu {
        order: 3;
    }
}

.scrolled .header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

    .scrolled .header .topbar {
        height: 0;
        visibility: hidden;
        overflow: hidden;
    }

/*FOOTER*/

.footer {
    color: var(--default-color);
    background-color: var(--background-color);
    border-top: 1px solid color-mix(in srgb, var(--accent-color), transparent 75%);
    font-size: 14px;
    position: relative;
}

.footer .footer-top {
    padding-top: 50px;
}

.footer .footer-about .logo {
    line-height: 1;
    margin-bottom: 25px;
}

    .footer .footer-about .logo img {
        max-height: 40px;
        margin-right: 6px;
    }

    .footer .footer-about .logo span {
        color: var(--heading-color);
        font-family: var(--heading-font);
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 1px;
    }

.footer .footer-about p {
    font-size: 14px;
    font-family: var(--heading-font);
}

.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    margin-right: 10px;
    transition: 0.3s;
}

    .footer .social-links a:hover {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }

.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

.footer .footer-links {
    margin-bottom: 30px;
}

    .footer .footer-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .footer .footer-links ul i {
            padding-right: 2px;
            font-size: 12px;
            line-height: 0;
        }

        .footer .footer-links ul li {
            padding: 10px 0;
            display: flex;
            align-items: center;
        }

            .footer .footer-links ul li:first-child {
                padding-top: 0;
            }

        .footer .footer-links ul a {
            color: color-mix(in srgb, var(--default-color), transparent 30%);
            display: inline-block;
            line-height: 1;
        }

            .footer .footer-links ul a:hover {
                color: var(--accent-color);
            }

.footer .footer-contact p {
    margin-bottom: 5px;
}

.footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

    .footer .copyright p {
        margin-bottom: 0;
    }

.footer .credits {
    margin-top: 8px;
    font-size: 13px;
}

/*NAVIGATION MENU*/
@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

        .navmenu ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: center;
        }

        .navmenu li {
            position: relative;
        }

        .navmenu > ul > li {
            white-space: nowrap;
            padding: 15px 14px;
        }

            .navmenu > ul > li:last-child {
                padding-right: 0;
            }

        .navmenu a,
        .navmenu a:focus {
            color: var(--nav-color);
            font-size: 15px;
            padding: 0 2px;
            font-family: var(--nav-font);
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: space-between;
            white-space: nowrap;
            transition: 0.3s;
            position: relative;
        }

            .navmenu a i,
            .navmenu a:focus i {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
                transition: 0.3s;
            }

        .navmenu > ul > li > a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -6px;
            left: 0;
            background-color: var(--nav-hover-color);
            visibility: hidden;
            width: 0px;
            transition: all 0.3s ease-in-out 0s;
        }

        .navmenu a:hover:before,
        .navmenu li:hover > a:before,
        .navmenu .active:before {
            visibility: visible;
            width: 100%;
        }

        .navmenu li:hover > a,
        .navmenu .active,
        .navmenu .active:focus {
            color: var(--nav-hover-color);
        }

        .navmenu .dropdown ul {
            margin: 0;
            padding: 10px 0;
            background: var(--nav-dropdown-background-color);
            display: block;
            position: absolute;
            visibility: hidden;
            left: 14px;
            top: 130%;
            opacity: 0;
            transition: 0.3s;
            border-radius: 4px;
            z-index: 99;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        }

            .navmenu .dropdown ul li {
                min-width: 200px;
            }

            .navmenu .dropdown ul a {
                padding: 10px 20px;
                font-size: 15px;
                text-transform: none;
                color: var(--nav-dropdown-color);
            }

                .navmenu .dropdown ul a i {
                    font-size: 12px;
                }

                .navmenu .dropdown ul a:hover,
                .navmenu .dropdown ul .active:hover,
                .navmenu .dropdown ul li:hover > a {
                    color: var(--nav-dropdown-hover-color);
                }

        .navmenu .dropdown:hover > ul {
            opacity: 1;
            top: 100%;
            visibility: visible;
        }

        .navmenu .dropdown .dropdown ul {
            top: 0;
            left: -90%;
            visibility: hidden;
        }

        .navmenu .dropdown .dropdown:hover > ul {
            opacity: 1;
            top: 0;
            left: -100%;
            visibility: visible;
        }
}